body {
    background-color: rgba(128, 128, 128, 0.3);
    box-sizing: border-box;
}
#info {

}
#wrapper {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid crimson;
    border-radius: 20px;
    background-color: white;
    min-height: 300px;
    box-shadow: 1px 3px 10px rgb(128, 128, 128);
}
#city-value {
    width: 230px;
    padding: 7px 15px;
    border: solid 1px crimson;
    border-radius: 10px;
}
#btn {
    margin-left: 5px;
    cursor: pointer;
    background-color: crimson;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    color: white;
    transition: background-color ease 0.3s;
}
#btn:hover {
    background-color: #fc4267;
}
#weather {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
    padding: 0 20px;
}
li {
    list-style: none;
}
#city-name {
    margin: 10px 0;
    font-size: 42px;
    text-transform: capitalize;
}
#current-position {
    cursor: pointer;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    color: white;
    transition: background-color ease 0.3s;
    background-color: rgba(128, 128, 128, 0.5);
}
#current-position:hover {
    background-color: #fc4267;
}